:root {
    --main-bg: #f94d59ee;
    --light-bg: #fdd0ffee;
    --dark-bg: #c00030ee;
    --main-code-bg: #eeeeeeee;
    --main-gray: #e2e2e2ee;
    --dark-gray: #616161ee;
    --main-secnd: #9770cbee;
    --ligh-secnd: #c99fffee;

}

div.leftCol {
    float:left;
    width:100%
    margin: auto;
}

div.rightCol {
  float:right;
  margin: auto;
}

div.figcontainer{
  width:80%;
  text-align: center;
  padding-top:5%;
  height:80%;
  margin:auto;
  color: #000000cc;
}

div.fignotes{
  width:80%;
  text-align: left;
  padding-top:5%;
  height:80%;
  margin:auto;
  color: #000000cc;
}

div.codecontainer{
  width:80%;
  text-align: center;
  padding-top:5%;
  height:80%;
  margin:auto;
  color: #000000cc;
  margin-bottom: 6%;
}

div.codetitle {
  display: inline-block;
  text-align:left;
  padding-left:3%;
  padding-top: 2%;
  padding-bottom: 2%;
  width:77%;
  margin: 0px;
  background-color: var(--main-secnd);
}

div.belowText {
  display: inline-block;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 1%;
  padding-top: 2%;
}

div.codebox {
  display: inline-block;
  white-space:normal !important;
  postition: relative;
  width: 76%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 1%;
  height: 60%;
  background-color: var(--main-code-bg);
  margin-left: 1%;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 1%;
  text-align: left;
  font-size: 1rem;
  font-family: monospace;
  line-height: 1.2rem;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}

div.title {
  width: 100%;
  padding: 1 1 1 1%
  position: absolute;
  text-align: left;
  vertical-align: middle;
  background-color: var(--light-bg);
}
